*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gameZone{
    text-align: center;
    margin-top: 10px;
}
.gameBoard{
    background-color: #1A1A24; 
}
.score{
    margin-top: -20px;
    font-size: 50px;
    font-weight: 600;
}
.ResetBtn{
    font-size: 30px;
    margin: -55px 0 10px;
    border-radius: 20px;
    padding-inline: 10px;
    padding-bottom: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.ResetBtn:hover{
    background-color: rgb(61, 255, 61);
    

}
